.DashboardWidget
{
    padding: 1em;
    border-radius: 2px;
    background-color: white;
    border: 1px solid #ddd
}
.DashboardWidget__sub-title
{
    margin-top: -.83rem;
    font-style: italic;
    font-weight: 300;
}